{% extends "master.tmpl" %}

{% block js %}
<script>
  $(document).ready(function() {
    select_top_nav(1);
  });
</script>
{% endblock %}

{% block subnav %}
  <a href="/"><div class="filter dark_green breadcrumb">Home</div></a>
  <a href="/leagues"><div class="filter dark_green breadcrumb">Leagues</div></a>
  <div class="filter dark_green breadcrumb">{{ league.species_common_name_plural }}</div>
  {% if is_admin %}
    <a href="/league/add">
      <div class="filter red">Add league</div>
    </a>
  {% endif %}
{% endblock %}

{% block body %}
<div id="players" class="table white">
  {% for player in players %}
      {% ifequal league.species_common_name_plural "Overall" %}
      <a href="/player/{{ player.key.name }}">
        <div class="row">
          <div class="icon">
            <img src="{{ player.avatar_url }}" />
          </div>
          <h3>#{{ forloop.counter }}</h3>
          <h1>{{ player.name }}</h1>
          <div class="rank">{{ player.points }}pts</div>
        </div>
      </a>
    {% else %}
      <a href="/player/{{ player.parent.key }}/league/{{ league.league_id }}">
        <div class="row">
          <div class="icon">
            <img src="{{ player.parent.avatar_url }}" />
          </div>
          <h3>#{{ forloop.counter }}</h3>
          <h1>{{ player.parent.name }}</h1>
          <div class="rank">{{ player.points }}pts</div>
        </div>
      </a>
    {% endifequal %}
  {% empty %}
    <div class="content">No players yet!</div>
  {% endfor %}
</div>
{% endblock %}