{% extends "master.tmpl" %}
{% block js %}
<script>
  $(document).ready(function() {
    select_top_nav(0);
  });
</script>
{% endblock %}
{% block body %}
<a href="/live" id="btn_login">
  <div class="content blue">
    <h1>Login with Facebook</h1>
  </div>
</a>
<div class="content white">
  <h1>Login</h1>
</div>
<div class="content red">
  <h1>Register</h1>
</div>
{% endblock %}