{% extends "master.tmpl" %}

{% block js %}
<script>
  $(document).ready(function() {
    select_top_nav(1);
  });
</script>
{% endblock %}

{% block subnav %}
  <a href="/"><div class="filter dark_green breadcrumb">Home</div></a>
  <div class="filter dark_green breadcrumb">Player</div>
  <div class="filter dark_green breadcrumb">{{ player.name }}</div>
{% endblock %}

{% block body %}
  <div id="poots" class="table white">
  
    <div class="row">
      <div class="icon">
        <img src="{{ player.avatar_url }}" />
      </div>
      <h3 class="location_lookup">{{ location }}</h3>
      <h1>{{ player.name }}</h1>
      <strong>Joined</strong> {{ player.date_joined|date:"M Y" }}<br>
      <strong>Last activity</strong> {{ player.last_activity|date:"d M" }}
      
      {% if is_admin %}
        {{ player.email }}
      {% endif %}
    
      <div class="rank">{{ player.points }}pts</div>
    </div>
  
    <div class="divider green">
      <h1>{{ poot_count }} poots</h1>
    </div>
  
    {% for poot in poots %}
      <a href="/poot/{{ poot.key.name }}">
        <div class="row">
          <div class="icon">
            {% if poot.key_image %}
              <div style="height:100px;width:100px;overflow:hidden">
                <img src="/poot/image/{{ poot.key_image }}" style="width:100px"/>
              </div>
            {% endif %}
          </div>
          <h3>{{ poot.species.scientific_name }}{% if poot.dispooted %}?{% endif %}</h3>
          <h1>{{ poot.species.common_name }}{% if poot.dispooted %}?{% endif %}</h1>
          <strong>Pooted</strong> <span class="timeago" title="">{{ poot.date_caught|date:"d M" }}</span><br>
          
          <div class="rank">+{{ poot.points }}pts</div>
        </div>
      </a>
    {% empty %}
      <div class="content">No poots yet!</div>
    {% endfor %}
  
  
    <div class="divider red">
      <h1 style="color:#FFF">{{ dispoot_count }} dispoots</h1>
    </div>
  
    {% for dispoot in dispoots %}
      <a href="/poot/{{ dispoot.poot.key.name }}">
        <div class="row">
          <div class="icon">
            {% if dispoot.poot.key_image %}
              <div style="height:100px;width:100px;overflow:hidden">
                <img src="/poot/image/{{ dispoot.poot.key_image }}" style="width:100px"/>
              </div>
            {% endif %}
          </div>
          <h3>{{ dispoot.poot.species.scientific_name }}</h3>
          <h1>{{ dispoot.poot.species.common_name }}</h1>
          <strong>Dispooted</strong> {{ dispoot.date_awarded|date:"d M" }} by <strong>The Pooter! Team</strong><br>
          
          <div class="rank">-{{ dispoot.points }}pts</div>
        </div>
      </a>
    {% empty %}
      <div class="content">No dispoots yet!</div>
    {% endfor %}
  
  </div>
{% endblock %}
