{% extends "master.tmpl" %}

{% block js %}
{% endblock %}

{% block body %}
<div class="content white turf poot">
  <div class="middling">
    
    <div class="left-col">
      
      <div class="player">
        <div class="left">
          <img class="player_avatar" src="{{ player_avatar_url }}">
        </div>
        <div class="left">
          <span class="player_name">{{ player_name }}</span><br>
          <span class="player_points">{{ player_points }}pts.</span>
        </div>
      </div>
      
      <h1>{{ poot_species_common_name }} Bumblebee</h1>
      <h2>{{ poot_species_scientific_name }} - {{ poot_species_points }}pts.</h2>

      <div class="map_wrap">
        <div id="poot_map" data-lat="{{ poot_location_lat }}" data-lon="{{ poot_location_lon }}"></div>
        <img class="map_overlay" src="/images/map_overlay.png">
      </div>
      
      <div class="blurb">
        <strong>{{ player_name }}</strong> is playing <strong>Pooter!</strong>, a free iPhone game<br>
        designed to help save Britain's bees. 
        <a href="http://get.pooter.it"><br><strong>Download now</strong></a> and join them.
      </div>

      {% if poot_dispooted %}
        DISPOOTED!
      {% endif %}
    </div>
    
    <div class="right-col">
      <div class="poot_image_wrapper">
        <div class="poot_image">
          <img src="{{ poot_image_url }}=s500-c" />
          <div class="poot_date" data-date="{{ poot_date_taken }}">{{ poot_species_common_name }} - </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}
