{% extends "master.tmpl" %}

{% block js %}
<script>
  $(document).ready(function() {
    select_top_nav(2);
  });
</script>
{% endblock %}

{% block body %}
  <div class="content white turf poot">
    <div class="middling poots">
    
        {% for p in poots %}
          <div class="poot_placeholder{% if forloop.counter > 25 %} hide{% endif %}" id="poot_placeholder_{{ p.poot_key }}" data-key-name="{{ p.poot_key }}"></div>
        {% endfor %}

    </div>
  </div>
{% endblock %}
